.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100vw;
  height: 15vh;
  background-color: #61dafb;
  display: flex;
  text-align: center;
}

.home {
  font-size: large;
  font-weight: bold;
  position: absolute;
  margin-top: 5vh;
  margin-left: 5vw;
}

.background {
  width: 100vw;
  height: 85vh;
  background-color: black;
  display: flex;
  align-items: center;
}

.cardBox {
  width: 50vw;
  height: 50vh;
  background-color: lightgrey;
}

.cardAndButton {
  width: 100vw;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cardControls {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: large;
  border-bottom: 2px solid cornflowerblue;
  font-weight: 800;
}

.movies {
  width: 30vw;
  text-align: left;
  font-size: small;
}

.cardInfoBox {
  margin-left: 5vw;
  text-align: left;
}

.basic {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
